html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
  margin: 1;
  padding: 1;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1.5;
  background-color: yellow;
}

ol, ul {
  list-style: none;
}

img {
  width: 80%
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}